@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-primary-blue: #075985;
  --color-sky-accent: #0284c7;
  --color-bg-light: #f0f9ff;
  --color-charcoal: #1e293b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg-light);
  color: var(--color-charcoal);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

/* Custom Scrollbar - WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  /* Bem fininho */
}

::-webkit-scrollbar-track {
  background: var(--color-bg-light);
  /* Fundo claro */
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  /* Azul celeste / Sky 500 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-sky-accent);
}

/* Custom Scrollbar - Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0ea5e9 var(--color-bg-light);
}